* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    height: 100vh;
}

/* Navbar section */
header {
    position: fixed;
    top: o;
    left: 10%;
    right: 10%;
    background: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    border-bottom: 1px solid black;
    min-height: 0;
}

.logo-img {
    width: 280px;
    height: 100px;
    margin-top: 7px;
    margin-left: -30px;
}

.menu-icon {
    width: 100px;
    height: 40px;
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font-size: 16px;
    padding: 15px;
    color: black;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400px;
}

.color-me {
    color: #587BFF !important;
}

.menu-icon {
    width: 0px;
    height: 0px;

}

#menu-bar {
    display: none;
}

header label {
    cursor: pointer;
    display: none;
}



@media(max-width:991px) {
    header {
        padding: 20px;
    }

    header label {
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: white;
        border-top: 1px solid black;
        display: none;

    }

    header .navbar ul li {
        width: 100%;
        font-weight: 400px;
    }

    header .navbar ul li ul {
        width: 100%;
        position: relative;
    }

    header .navbar ul li ul li {
        background: #eee;
    }

    header .navbar ul li ul li ul {
        width: 100%;
        left: 0;
    }

    #menu-bar:checked~.navbar {
        display: initial;
    }

}

/* Navbar section */

/* Hero Section */

.container {
    padding-top: 200px;
    display: flex;
}

.hero-left {
    position: relative;
    left: 10%;
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 400;
    text-align: left;
}

.hero-img {
    width: 140px;
    height: 90px;
    margin-left: 180px;
}

.hero-right {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    padding-left: 400px;

}

.hero-down {
    display: flex;
    padding-top: 70px;
    position: relative;
    left: 10%;

}

.hero-btn {
    background-color: #587BFF;
    width: 240px;
    height: 40px;
    color: #eee;
    font-size: large;


}

@media(max-width:991px) {

    .container {
        padding-top: 200px;
        display: flex;
    }
    .hero-left {
        position: relative;
        left: 10%;
        font-family: Montserrat;
        font-size: 35px;
       // padding-top: 80px;
    }

    .hero-img {
        width: 80px;
        height: 60px;
        margin-left: 50px;
        //margin-top: 100px;
    }
    .hero-right {
        font-family: Roboto;
        font-size: 12px;
        font-weight: 200;
        padding-left: 20px;
        margin-top: -30px;
    
    }
}















/* Hero Section */